{namespace adw=Digicademy\Academy\ViewHelpers}

<f:if condition="{controller} == 'News'">
	<f:then>
		<h4 class="icon media"><f:translate key="media" extensionName="Academy" /></h4>
		<ul class="rows">
			<f:for each="{relations}" as="relation">
				<li class="row">
					<f:link.action action="Show" controller="Media" pluginName="media" extensionName="Academy" arguments="{medium : relation.medium.uid}" pageUid="2141" class="icon before {f:cObject(typoscriptObjectPath: 'lib.mediaicon', data: {type : relation.medium.type})}">
						{relation.medium.title}
					</f:link.action>
				</li>
			</f:for>
		</ul>
	</f:then>
	<f:else>
		<h4 class="icon dates"><f:translate key="events" extensionName="Academy" /></h4>
		<ul class="rows">
			<f:for each="{relations}" as="relation">
				<li class="row">
					<f:link.action extensionName="News" pluginName="pi1" controller="News" action="detail" arguments="{news : relation.event.uid}" pageUid="2121">
						{relation.event.title} - <f:format.date format="d.m.Y">{relation.event.eventStartdate}</f:format.date>
					</f:link.action>
				</li>
			</f:for>
		</ul>
	</f:else>
</f:if>