<article role="article" class="mediacontent clearfix">

	<h3>
		<f:link.action action="show" arguments="{medium : medium}" class="icon {f:cObject(typoscriptObjectPath: 'lib.mediaicon', data: {type : medium.type})}" pageUid="2141">
			{medium.title}
		</f:link.action>
	</h3>

	<p class="articleinfo">
		<time datetime="{medium.crdate -> f:format.date()}">
			<f:format.date format="d.m.Y">{medium.crdate}</f:format.date>
		</time>
		<f:translate key="categories" />:
		<f:if condition="{medium.categories}">
			<f:for each="{medium.categories}" as="category" iteration="iterator">
				<f:if condition="{iterator.isLast}">
					<f:then>
						<f:link.action extensionName="Academy" pluginName="Categories" controller="Categories" action="list" arguments="{selectedCategories : category.uid}" pageUid="2140">{category.title}</f:link.action>
					</f:then>
					<f:else>
						<f:link.action extensionName="Academy" pluginName="Categories" controller="Categories" action="list" arguments="{selectedCategories : category.uid}" pageUid="2140">{category.title}</f:link.action>,
					</f:else>
				</f:if>
			</f:for>
		</f:if>
	</p>

	<figure class="grid_7 alpha">
		<f:link.action action="show" arguments="{medium : medium}" pageUid="2141">
			<f:if condition="{medium.image}">
				<f:then>
					<f:cObject typoscriptObjectPath="lib.image" data="{
						table : 'tx_academy_domain_model_media',
						uid : medium.uid,
						image_frames : 1,
						imageColumnWidth : 5
					}" />
				</f:then>
				<f:else>
					<f:for each="{medium.files}" as="file" iteration="iterator">
						<f:if condition="{iterator.isFirst}">
						<f:cObject typoscriptObjectPath="lib.media.image" data="{
							files : file.uid,
							image_frames : 1,
							imageColumnWidth : 5
						}" />
						</f:if>
					</f:for>
				</f:else>
			</f:if>
		</f:link.action>
	</figure>

	<div class="grid_9 omega">
		<p>
			<f:cObject typoscriptObjectPath="lib.formatAndCrop">{medium.description}</f:cObject>
		</p>
		<p>
			<f:link.action action="show" arguments="{medium : medium}" class="box icon more" pageUid="2141">
				<f:translate key="general.readOn" />
			</f:link.action>
		</p>
	</div>

</article>