{namespace adw=Digicademy\Academy\ViewHelpers}

<f:if condition="{newsItem}">
	<f:then>

		<article class="detail">
			<h1 class="csc-firstHeader">
				{newsItem.title}
			</h1>

			<p class="articleinfo">
				<time datetime="{f:format.date(date: newsItem.datetime, format: 'Y-m-d')}">{f:format.date(date: newsItem.datetime, format: 'd.m.Y')}</time>
				<f:if condition="{newsItem.sysCategories}">
					<span class="skip">, </span> Rubriken:
					<f:for each="{newsItem.sysCategories}" as="category" iteration="iterator">
						<f:if condition="{iterator.isLast}">
							<f:then>
								<f:link.action extensionName="Academy" pluginName="Categories" controller="Categories" action="list" arguments="{selectedCategories : category.uid}" pageUid="1789">{category.title}</f:link.action>
							</f:then>
							<f:else>
								<f:link.action extensionName="Academy" pluginName="Categories" controller="Categories" action="list" arguments="{selectedCategories : category.uid}" pageUid="1789">{category.title}</f:link.action>,
							</f:else>
						</f:if>
					</f:for>
				</f:if>
			</p>

			<f:if condition="{newsItem.media}">
				<f:then>
					<figure class="textpic grid_7 mfp-textpic alpha newspic">
						<f:for each="{newsItem.media}" as="image">
							<f:cObject typoscriptObjectPath="lib.newsimage" data="{image : image.image, title : image.title, alt : image.alt, image_zoom : 1}" />
							<f:if condition="{image.caption}">
								<figcaption>{image.caption}</figcaption>
							</f:if>
						</f:for>
					</figure>
					<div class="grid_9 omega">
						<f:format.html>{newsItem.bodytext}</f:format.html>
					</div>
				</f:then>
				<f:else>
					<div class="grid_16">
						<f:format.html>{newsItem.bodytext}</f:format.html>
					</div>
				</f:else>
			</f:if>

			<f:if condition="{newsItem.newsRelations}">

				<adw:groupRelations relations="{newsItem.newsRelations}" />

				<h3 class="rowheader"><f:translate key="general.furtherInformation" extensionName="Academy" /></h3>

				<f:if condition="{groupedRelations.14}">
					<f:render partial="Relations/14PersonNewsRelation" arguments="{controller : 'News', relations : groupedRelations.14}" />
				</f:if>

				<f:if condition="{groupedRelations.22}">
					<f:render partial="Relations/22ProjectNewsRelation" arguments="{controller : 'News', relations : groupedRelations.22}" />
				</f:if>

				<f:if condition="{groupedRelations.40}">
					<f:render partial="Relations/40NewsHcardRelation" arguments="{controller : 'News', relations : groupedRelations.40}" />
				</f:if>

				<f:if condition="{groupedRelations.41}">
					<f:render partial="Relations/41NewsEventRelation" arguments="{controller : 'News', relations : groupedRelations.41}" />
				</f:if>

				<f:if condition="{groupedRelations.42}">
					<f:render partial="Relations/42NewsMediumRelation" arguments="{controller : 'News', relations : groupedRelations.42}" />
				</f:if>

			</f:if>

		</article>

		<p class="simpleclear">
			<f:link.action class="button" controller="News" action="list" pageUid="1789">
				<f:translate key="general.backToList" extensionName="Academy" />
			</f:link.action>
		</p>

	</f:then>
	<f:else>
		<p><f:translate key="list_nonewsfound" /></p>
	</f:else>
</f:if>
